{
  // SparkplugB settings
  // https://timebase.flow-software.com/en/knowledge-base/sparkplugb-collector

  "Settings": {
    // Connection
    "Host": "mosquitto",
    "Port": 1883,
    "UseTls": false,
    //"ClientId": "<OptionalClientId",
    
    // Authentication
    //"Username": "<UsernameGoesHere>",
    //"Password": "<PasswordGoesHere>",
    
    // Subscription groups
    "Subscriptions": [
      {
        "Type": 1, // Set to 1, reserved for future use
        "QoS": 2,
        "Topics": [
          "spBv1.0/#"
        ],
        "Filter": "" // Case-sensitive exclusion filter (regex)
      }
    ]
  }
}