{
  "DetailedErrors": true,

  "Serilog": {
    "MinimumLevel": {
      "Default": "Warning",
      "Override": {
        "Timebase.Explorer": "Information"
      }
    }
  },

  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://0.0.0.0:4531"
      }
      //,"Https": 
      //{
      //  "Url": "https://0.0.0.0:4532",
      //  "Certificate": {
      //    "Path": "../explorer/settings/cert/<YourCert>.pfx",
      //    "Password": "<YourCertPassword>"
      //  }
      //}
    }
  },

  "Auth": {
    "Enabled": false,
    "IdP": {
      "Host": "localhost",
      "Port": 4542,
      "UseTls": true
    },
    "ClientId": "Explorer",
    "ClientSecret": "<YourExplorerClientSecret>"
  }
}
